<h1>Add a New Brother</h1>
<hr />
<%= form_for @rush_class, html: {class: "form-horizontal center"} do |f| %>
  <div class="form-group">
    <%= f.label :greek_name, "Greek Name:", class: "col-md-2 control-label" %>
    <div class="col-md-9">
      <div class="row">
        <div class="col-sm-12">
          <%= f.text_field :greek_name, class: "form-control", placeholder: "Greek Name" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :family_id, "Semester Info:", class: "col-md-2 control-label" %>
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-6">
                <%= f.text_field :year, class: "form-control", placeholder: "Year" %>
            </div>
            <div class="col-sm-6">
                <%= f.select :semester, ['Spring', 'Fall'], {include_blank: false}, {class: "form-control"} %>
            </div>
        </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2 control-label" for="submit">&nbsp;</div>
    <div class="col-md-9">
      <%= f.submit "Submit", {class: "btn btn-default btn-primary", id: "submit"} %>
    </div>
  </div>
<% end %>
