<h1>
  <%= @brother.full_name %>
  <div class="admin-buttons">
    <% if current_user && current_user.username == 'historian' %>
      <%= link_to raw('<i class="fa fa-pencil"></i>'),
        {:action => 'edit', id: @brother.id} %>
    <% end %>
  </div>
</h1>
<hr />

<div class="row">
  <div class="col-sm-6">
    <% unless @brother.rush_class.nil? %>
      <p>
        <strong>Rush Class</strong>: <%= @brother.rush_class.greek_name %>
      </p>
      <p>
        <strong>Joined</strong>:
        <%= "#{@brother.rush_class.semester} #{@brother.rush_class.year}" %>
      </p>
    <% else %>
      <p>Founding father</p>
    <% end %>
    <p><strong>Status: </strong> <%= status_pill(@brother.status) %></p>
  </div>
  <div class="col-sm-6">
    <p><strong>Family: </strong> <%= @brother.family.name %></p>
    <% unless @brother.parent.nil? %>
      <p><strong>Big Brother: </strong>
        <%=link_to @brother.parent.full_name, @brother.parent%>
      </p>
    <% end %>
    <p><strong>Little Brothers: </strong>
      <% @brother.children.each do |little| %>
        <% unless little == @brother.children.last %>
          <%= link_to "#{little.full_name}\, ", little %>
        <% else %>
          <%= link_to little.full_name, little %>
        <% end %>
      <% end %>
      <% if @brother.children.empty? %>
        <%= content_tag(:span, content_tag(:em, "No littles"), style: 'color:#aaa;') %>
      <% end %>
    </p>
  </div>
</div>

<% unless @brother.children.empty? %>
  <h2>Family Tree</h2>
  <div class="tree-container">
    <%= content_tag "div", id: "tree", data: {org: @org_chart_data} do %>
    <% end %>
  </div>
<% end %>
